<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Standalone Microfrontend - Air Pollution ui</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngIf="usStateCapitals$ | async as capitals">
            <common-selection-list [items]="capitals" (selectedItem$)="selectedCapitals($event)">
            </common-selection-list>
        </div>
        <div class="col-md-9">
            <div class="row">
                <air-pollution-component></air-pollution-component>
            </div>
        </div>
    </div>
</div>